h2,
h3 {
  color: var(--color-white);
  text-align: center;
  margin-bottom: 1rem;
}

h2 {
  margin-top: 2rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: normal;
}

div.divider {
  width: 30%;
  height: 2px;
  background-color: var(--color-white);
  margin: var(--spacing-lg) auto;
}

/* Filtre artistes */
.date-filters {
  display: flex;
  justify-content: center;
  gap: var(--spacing-sm);
}

.date-btn {
  color: var(--color-white);
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: var(--spacing-sm) var(--spacing-md);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-medium);
  font-family: var(--font-secondary);
  transition: background-color 0.3s;
  font-weight: bold;
}

.date-btn:hover {
  color: var(--color-accent);
  background: var(--color-white);
}

.active {
  color: var(--color-accent);
  background-color: var(--color-white);
}

/* Artistes */
.artists,
.activities {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}
.artist-grid {
  width: 100%;
  max-width: 950px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
  justify-items: center;
}

.artist-grid figure {
  max-width: 300px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.artist-grid figure figcaption {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-white);
  color: var(--color-black);
  padding: var(--spacing-xs) var(--spacing-sm);
  font-size: 1.5rem;
  font-weight: bold;
  width: calc(100% - 1rem);
  transition: background-color 0.2s, color 0.2s;
}

.artist-grid figure:hover figcaption {
  background-color: var(--color-accent-dark);
  color: var(--color-white);
}

.artist-grid p {
  font-weight: normal;
}

.artists img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.activities img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

