section.billetterie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
}

.billetterie h2 {
    font-size: 5rem;
}

.billetterie p {
    font-size: 1.75rem;
}