.artist-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.artist-info {
  max-width: 950px;
  margin-top: var(--spacing-lg);
  display: flex;
  gap: var(--spacing-lg);
  align-items: flex-start;
  margin-bottom: 1rem;
}

.artist-image {
  width: 300px;
  height: 300px;
  min-width: 300px;
  flex-shrink: 0;
  margin: 0;
}

.artist-info img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.artist-info a {
  color: black;
  text-decoration: underline
}

.artist-socials {
  display: flex;
  gap: 8px;
}

.artist-socials img {
  margin-top: 8px;
  width: 48px;
  height: 48px;
  padding: 8px;
  margin-right: var(--spacing-sm);
}

.artist-description {
  margin-bottom: 1rem;
}

@media screen and (max-width: 767px) {
  .artist-info {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .artist-info>div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
    
}